@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* .main_menu, .main_menu:before, .main_menu:after {margin: 0; padding: 0; box-sizing: border-box;} */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing:
    border-box;
}

body {
  background-image: url("../data/Uva_rossa.JPG");
  color: black;
  font: 14px 'Open Sans', sans-serif;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.main {
  margin: 120px 0px auto;
  min-width: 320px;
  width: 100%;
  min-height: 100px;
  height: 100%;
}

.content {
  margin: 10px;
  background: white;
  color: black;
}

.content > #content1,#content2,#content3,#content4 {
  display: none;
  padding: 20px 25px 5px;
}

input[name="tabs"] {
  display: none;
}

label.menu {
  display: inline-block;
  margin: -2px;
  padding: 15px 25px;
  width: 25%;
  font-weight: 600;
  text-align: center;
  background-color: #1BA719;
}

label.menu:hover {
  color: white;
  background: green;
  cursor: pointer;
}

input[name="tabs"]:checked + label.menu {
  background: darkgreen;
  color: white;
}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 {
  display: block;
}

@media screen and (max-width: 400px) { label {padding: 15px 10px;} }
