@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.footer {
  position: fixed;
  padding: 5px;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;

  /* Cosmetics */
  font-family: "Open sans";
  font-size: 15px;
  background-color: white;
  opacity: 0.8;
}

/* .footer table {
  width: 100%;
  text-align: left;
} */

.footer ul,p {
  /* margin-left: 25px; */
  text-align: center;
}
