@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.footer {
  position: fixed;
  padding: 10px;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  height: 120px;
  width: 100%;

  /* Cosmetics */
  font-family: "Open sans";
  font-size: 20px;
  background-color: white;
  opacity: 0.5;
}

.footer table {
  width: 100%;

  text-align: left;
}

.footer ul {
  margin-left: 25px;
}
