.heading {
  /* Size */
  position: fixed;
  padding: 5px;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 100%;

  /* Cosmetics */
  font-family: "Elianto";
  font-size: 100px;
  color: white;
  text-shadow: 0 0 10px black;

  background: green;
  background-size: 100%;
  overflow: hidden;
}
